.place__container {
    max-width: 484px;
}

@media screen and (max-width:1024px) {
    .place__container {
      max-width: 456px;
    }
  }

  @media screen and (max-width:768px) {
    .place__container {
      max-width: 352px;
    }
  }

  @media screen and (max-width:624px) {
    .place__container {
      max-width: 624px;
    }
  }

  @media screen and (max-width:594px) {
    .place__container {
      max-width: 594px;
    }
  }

  @media screen and (max-width: 344px) {
    .place__container {
      max-width: 288px;
      margin: 0 16px;
    }
  }