.footer__copyright {
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 94px 0px 24px 0;
}

@media screen and (max-width: 721px) {
  .footer__copyright {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 1;
  }
}

