.place__link {
  color: white;
  max-width: 456px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.place__link:hover {
  color: rgba(255, 255, 255, 0.5);
}

